@{
    Layout = "Index";
}

<table class="table table-striped table-condensed">
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Barber Preference</th>
        <th>Wait</th>
        <th>Checkin Time</th>
    </tr>

    <tr>
        <a>
            <td> Check in. Current wait time: minutes </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </a>
    </tr>
</table>