
html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

/ .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

#sign-in-text {
    background-color: #fff;
    background: -moz-linear-gradient(left, #fff, #eee, #fff);
    background: -o-linear-gradient(left, #fff, #eee, #fff);
    background: -webkit-gradient(linear, left, right, from(#fff), to(#eee, #fff));
    background: -webkit-linear-gradient(left, #fff, #eee, #fff);
    background: linear-gradient(to right, #fff, #eee, #fff);
    padding: 20px 0;
    border: 1px solid #ddd;
}

    #sign-in-text:hover {
        background-color: #f5f5f5;
        background: -moz-linear-gradient(left, #f5f5f5, #eee, #f5f5f5);
        background: -o-linear-gradient(left, #f5f5f5, #eee, #f5f5f5);
        background: -webkit-gradient(linear, left, right, from(#f5f5f5), to(#eee, #f5f5f5));
        background: -webkit-linear-gradient(left, #f5f5f5, #eee, #f5f5f5);
        background: linear-gradient(to right, #f5f5f5, #eee, #f5f5f5);
    }

#sign-in-link:hover {
    text-decoration: none;
    color: #337ab7;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
    text-align: center;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.profile {
    max-height: 100%;
    max-width: 100%;
    width: 100px;
    border-radius: 10%;
}

#CutsM, #CutsF {
    margin-top: 11px;
    /* Double-sized Checkboxes */
    -ms-transform: scale(1.3); /* IE */
    -moz-transform: scale(1.3); /* FF */
    -webkit-transform: scale(1.3); /* Safari and Chrome */
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.pad-left-5px {
    padding-left: 5px;
}

table.table>tbody>tr.td-style>td {
    vertical-align: middle;
    font-size: 1.14em;
}

