<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Scott Powell">
    <title>Waitlist Manager</title>
    <link rel="stylesheet" href="lib/site.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container-fluid">
        <header>
            <h1><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Waitlist Manager</h1>
        </header>
    </div>
    <div class="container-fluid">

        @RenderBody()

    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Waitlist Manager made by Scott Powell for Code Louisville</p>
        </div>
    </footer>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-ui-router.min.js"></script>
    <script src="lib/angular-resource.min.js"></script>
    <script src="lib/third-party.js"></script>
</body>
</html>